/* ---- Google Fonts ----- */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-extralight-webfont.woff2") format("woff2"),
    url("../fonts/causten-extralight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-regular-webfont.woff2") format("woff2"),
    url("../fonts/causten-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-bold-webfont.woff2") format("woff2"),
    url("../fonts/causten-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/fontspring-demo-coresansc55-webfont.woff2") format("woff2"),
    url("../fonts/fontspring-demo-coresansc55-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/fontspring-demo-coresansc65-webfont.woff2") format("woff2"),
    url("../fonts/fontspring-demo-coresansc65-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/fontspring-demo-coresansc75-webfont.woff2") format("woff2"),
    url("../fonts/fontspring-demo-coresansc75-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
