@import url("reset.css");
/* -------------Звернення до усіх тегів----------------------------------------- */
/* *{
   color:crimson;
} */
/* ----------------------Звернення до тегів------------------------------------ */
/* p {
  color: crimson;
}

a {
  color: green;
}

ol {
  color: blue;
} */

/* -----------------------Звернення до селекторів класу----------------------- */
/* .small-heading {
  color: blueviolet;
} */
/* -----------------------Звернення до ідентифікаторів----------------------- */
/* #some_id {
  color: goldenrod;
} */
/* -----------------------Звернення до комбінації тегів та класів----------------------- */
/* --------Усі теги p, але лише з класами text --------------------------------*/
/* p.text {
  color: cadetblue;
} */
/* --------Усі теги з класами text та page_text одночасно-----------------------------*/
/* .page_text.text {
  color: cornflowerblue;
} */
/* ----------------класи span1 та span2 одночасно---------------------------------------*/
/* .span1,
.span2 {
  color: rgb(5, 220, 244);
} */

/* -----------каскадність вкладеність селекторів */
/* ------------- усі теги а але тільки в середині класу content-text------------------ */
/* .content-text a {
  color: lime;
} */
/* ------------- усі теги span але тільки в середині тегy p---------------- 
p span {
  color: black;
}
/* ------------- класи lesson, grey-text в середині класу page_text---------------- *
.page_text .lesson,
.grey-text {
  color: grey;
}
/* ------------- усі селектори в середині класу text---------------- *
.text * {
  color: aquamarine;
}

/* - !!! усі теги li в середині об'єктів з класом ordered-list навіть коли ul/ol знаходиться в середині li зі своїми вкладеними li---------- *
.ordered-list > li {
  color: green;
}
/* ----------------- усі теги li в середині об'єктів з класом list ----------------------- */
/* ----- !!!!! коли в середині ul/ol знаходиться не li, а ul/ol а вже в середині li *
.list > li {
  color: green;
}
/* ----------------- усі теги p після об'єктів з класом pi ----------------------- *
.pi ~ p {
  color: green;
}
/*------ тільки тег p який іде безпосередньо після об'єктів з класом pi --- *
.pi + p {
  color: rgb(135, 145, 211);
}

/* --------- селектори атрибутів --------------------------- *
[class*="__container"] > p {
  color: rgb(225, 171, 230);
}
/* --------------- ПРИОРИТЕТИ СЕЛЕКТОРІВ ------------------------- */
/* -- 1) рівнозначні селектори----- *
.content-text a {
  color: rgb(41, 35, 202);
}

.content-text a {
  color: rgb(46, 189, 67);
}
/* -- 1) більший пріоритет завжди у селектора, який звужує(уточнює, конретизує) пошук/запит ----- */
#some-id {
  color: aqua;
}

/* div.contacts__container2 p.some-p {
  color: red;
} */

div.contacts__container2 .some-p {
  color: rgb(166, 255, 0);
}

/* div.contacts__container2 p {
  color: rgb(216, 204, 143);
}  */

/* div.contacts p {
  color: rgb(48, 42, 165);
} */

p {
  color: green;
}

div p {
  color: brown;
}

/* div.contacts__container2 p {
  color: rgb(216, 204, 143);
} */

/* p.some-p{
  color:aliceblue;
} */
/* Звертаємось до об'єктів у яких одночасно є клас page_text та text */
.page_text.text {
}
/* Звертаємось до об'єктів з класом text які вкладені в об'єкти з класом page_text */
.page_text .text {
}
